<div class="container d-flex justify-content-center align-items-center vh-100">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" formControlName="username" class="form-control mb-3">
            <div
                *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                <div *ngIf="loginForm.get('username')?.hasError('required')" class="alert alert-danger">Username is
                    required.</div>
                <div *ngIf="loginForm.get('username')?.hasError('pattern')" class="alert alert-danger">Invalid email
                    format.</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" formControlName="password" class="form-control mb-3">
            <div
                *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                <div *ngIf="loginForm.get('password')?.hasError('required')" class="alert alert-danger">Password is
                    required.</div>
                <div *ngIf="loginForm.get('password')?.hasError('pattern')" class="alert alert-danger">Password must be
                    at
                    least 8 characters long and contain at least one letter, one number, and one special character.
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    </form>
</div>